@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app {
    @apply bg-[url("img/background.jpeg")] h-screen flex flex-col justify-center items-center;
  }

  .mp3-player-container {
    @apply min-w-[62rem] h-[60rem] flex justify-center  transition-all duration-1000 ;
  }

  .playlist {
    @apply w-[30rem] h-fit mt-14 p-10 text-center rounded-r-xl;
  }

  .playlist-list li {
    @apply text-[#ccc] text-lg p-1 border-b-2 border-gray-700 py-2;
  }

  .active {
    @apply text-white font-bold;
  }

  .mp3-player {
    @apply ml-5 w-[50%] h-[95%] mt-4 flex flex-col;
  }

  .art-box {
    @apply w-full h-[60%] bg-cover flex justify-end;
  }

  .art-box i {
    @apply h-2 text-[#ccc] text-5xl mt-5 mr-5 cursor-pointer;
  }

  .controls-box {
    @apply h-[42%] flex flex-col justify-around items-center;
  }

  .controls-box h1 {
    @apply text-[#eee] text-4xl font-bold;
  }

  .controls-box h2 {
    @apply text-2xl font-bold text-[#a9a9a9] text-center;
  }

  .control-buttons {
    @apply h-[50%] flex flex-col justify-center items-center text-3xl text-center;
  }

  .progress-container {
    @apply flex justify-center items-center gap-6;
  }

  .buttons {
    @apply h-16 mt-4 flex justify-center items-center gap-6 text-4xl ;
  }

  .buttons button {
    @apply p-3 w-16 rounded-full text-[#ccc] font-bold hover:bg-[#212121] hover:text-white;
  }

  .current-time,
  .total-duration {
    @apply text-[#eee] text-xl font-bold;
  }

  .status-box {
    @apply w-full h-[10%] text-[#ccc] flex flex-col justify-around items-center;
  }
}

.mp3-player {
  background: rgb(255 255 255 / 19%);
  box-shadow: 0 0 10px 0 rgb(41 41 41);
  backdrop-filter: blur(3.5px);
  z-index: 2;
}

.status-box {
  background: rgb(0 0 0 / 60%);
  backdrop-filter: blur(8px);
}

.playlist {
  background: rgb(75 15 15 / 35%);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(18px);
  transform: translate(0);
  transition: all 0.5s ease-in-out;
}

.hide {
  transform: translate(-100%);
}

.progress-slider {
  height: 5px;
  transition: 0.2s;
  transition: opacity 0.2s;
}

.progress-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774ff;
  cursor: pointer;
  border-radius: 100%;
}

.buttons button {
  background: rgb(0 0 0 / 60%);
  backdrop-filter: blur(8px);
}
